body {
  background-color: #333;
  color: #fff;
}

h2, h3, p {
  margin: 0.3rem;
}

.app {
  text-align: center;
}
  @media (min-width: 600px) {
    .app {
      margin-left: 17vw;
      margin-right: 17vw;
    }
  }

.app .dropzone {
  margin: 2rem 2rem 0 2rem;
}

.app .status-message {
  height: 2rem;
  line-height: 1.8rem;
  margin: 2rem;
  border-radius: 0.8rem;
  padding: 0.1rem;
  background-color: #222;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.app .status-message-visible {
  opacity: 1;
}

.app .status-message-error {
  background-color: #600;
  color: #fcc;
}

.app .image-preview {
  margin: 2rem 2rem 2rem 2rem;
  transition: max-height 2s ease-in-out;
  max-height: 0;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  border-radius: 0.8rem;
}
.app .image-preview img {
  width: 100%;
}

.app .image-preview-visible {
  max-height: 500px;
}

.app .prediction {
  overflow: hidden;
  margin: 1rem 2rem;
  padding: 0.1rem 1rem;
  color: #fff;
  background: #000;
  border-radius: 0.8rem;
  text-align: left;
}

.app .prediction .probability {
  float: right;
  text-align: 'right';
}

.app .prediction .alt-labels {
  font-size: 0.8rem;
}