@font-face{
  font-family: "sfs-regular";
  src:url("/SalesforceSans-Regular.ttf");
}

@font-face{
  font-family: "sfs-thin";
  src:url("/SalesforceSans-Thin.ttf");
}

html,body,div,p,span {
  font-family: "sfs-thin";
}

body {
  background-color: #4CAF50;
  color: #fff;
  margin: 0;
  background-image:url("/1.jpg");
  background-repeat:no-repeat;
}

h2, h3, p {
  margin: 0.3rem;
}


.title {
  margin: 0;
  background: rgba(0, 0, 0, 0.85);
  padding: 0 2rem;
  font-family:"sfs-regular";
}

.title::after {
  content: " ";
  display: table;
  clear: both;
}

.intro{
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

h1 {
  text-align: left;
  padding: 1rem 0 1rem 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.demo-text {
  color:#fff;
  font-family:"sfs-regular";
}

.app {
  text-align: center;
  border-radius:10px;
  transition: background 2s ease-in-out;
}
.app-with-image{

}

.app .initial-dropzone {
  margin: 0rem 2rem 1rem 2rem;
  padding: 2rem 0rem 1rem 0rem;
}

.app-with-image .dropzone-active {
   background:#0c0; 
}

.app-with-image .dropzone-reject {
  background: #c00;
}

.app .status-message {
  text-align: left;
  height: 2rem;
  line-height: 1.8rem;
  margin: 0 2rem;
  border-radius: 0.8rem;
  padding: 0.1rem 1rem;
  background-color: #222;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.app .status-message-visible {
  opacity: 1;
}

.app .status-message-error {
  background-color: #600;
  color: #fcc;
}

.app .result-wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background:rgba(0,0,0,0.85);
  margin:1rem;
  border-radius: 6px;
  justify-content: center;
}

.app .image-preview {
  transition: max-height 2s ease-in-out;
  flex-grow:1;
}
.app .image-preview img {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    cursor:pointer;
    border-radius: 6px;
}

.app .image-preview-visible {
  display:block;
  margin: 2rem 2rem 2rem 2rem;
}

.footer {
  margin-top:1rem;
  text-align: center;
  width:100%;
}

.footer a {
  display:inline-block;
  margin:1rem;
  color:#777;
}